.cloud-holder {
    display: grid;
    width: 100%;
    overflow: hidden;
    justify-content: stretch;
    /* -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, #FFBDFF 70%, transparent 100%); */

    svg {
        width: 100%;
        height: auto;
        display: block;
        grid-column: 1;
        grid-row: 1;
        transform: translateY(541px);
        transition: transform 0.5s var(--spring-transition);

        &:nth-child(1) {
            &:hover {
                transform: translateY(10px) !important;
            }
        }

        &:nth-child(2) {
            &:hover {
                transform: translateY(10px) !important;
            }
        }

        &:nth-child(3) {
            &:hover {
                transform: translateY(60px) !important;
            }

        }
    }
}