.filter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 2rem;
    background-color: var(--main-background-color);
    border: 2px solid #fff;
    padding: 0.28rem 0.95rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: default;
    transition:
        transform 0.5s var(--spring-transition),
        border-color 0.5s var(--color-transition),
        color 0.5s var(--color-transition);

    &:hover {
        transform: scale(1.05);
        border-color: var(--soft-purple);
    }

    &.filter-video {
        &:hover {
            border-color: var(--soft-blue-low-opacity);
            color: var(--soft-blue-low-opacity);
        }

        &.selected {
            color: var(--soft-blue);
            border-color: var(--soft-blue);
        }
    }

    &.filter-illustration {
        &:hover {
            border-color: var(--soft-pink-low-opacity);
            color: var(--soft-pink-low-opacity);
        }

        &.selected {
            color: var(--soft-pink);
            border-color: var(--soft-pink);
        }
    }

    &.filter-design {
        &:hover {
            border-color: var(--soft-yellow-low-opacity);
            color: var(--soft-yellow-low-opacity);
        }

        &.selected {
            color: var(--soft-yellow);
            border-color: var(--soft-yellow);
        }
    }

    &.filter-animation {
        &:hover {
            border-color: var(--soft-purple-low-opacity);
            color: var(--soft-purple-low-opacity);
        }

        &.selected {
            color: var(--soft-purple);
            border-color: var(--soft-purple);
        }
    }

    &.filter-photography {
        &:hover {
            border-color: var(--soft-red-low-opacity);
            color: var(--soft-red-low-opacity);
        }

        &.selected {
            color: var(--soft-red);
            border-color: var(--soft-red);
        }
    }
}