.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 7), 1fr));
    gap: 1rem;
    list-style: none;
}

.grid-item {
    background-color: #232323;
    text-decoration: none;
    list-style: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 4px;
    overflow: hidden;

    &:hover {
        background-color: #333333;
        transform: scale(1.05);
    }

    img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 800/600;
    }
}

@media (max-width: 1440px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 5), 1fr));
    }
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4), 1fr));
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3), 1fr));
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}