.hero {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 12rem;
        font-weight: 900;
        text-align: left;
        line-height: 12rem;
        font-family: 'Archivo Black', sans-serif;

        span {
            display: block;
        }
    }

    p {
        font-family: 'Archivo Black', sans-serif;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }
}

@media (max-width: 1440px) {
    .hero {
        h1 {
            font-size: 8rem;
            line-height: 8rem;
        }

        p {
            font-size: 2rem;
        }
    }
}

@media (max-width: 1024px) {
    .hero {
        h1 {
            font-size: 10rem;
            line-height: 10rem;
        }

        p {
            font-size: 3rem;
        }
    }
}

@media (max-width: 768px) {
    .hero {
        h1 {
            font-size: 10rem;
            line-height: 10rem;
        }

        p {
            font-size: 3rem;
        }
    }
}

@media (max-width: 480px) {
    .hero {
        h1 {
            font-size: 10rem;
            line-height: 10rem;
        }

        p {
            font-size: 3rem;
        }
    }
}
