.hero {
    display: grid;
    width: 100%;
    overflow: hidden;
    margin: 5rem 0 5rem;
    grid-template-columns: 1fr;
    justify-items: center;
    min-height: 780px;

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        max-width: 1280px;
        min-height: 61vh;
        margin: 0 auto;
        padding: 0 4rem;

        h1 {
            font-size: 7rem;
            line-height: 7rem;
            font-weight: 900;
            font-family: 'Archivo Black', sans-serif;
            display: flex;

            span {
                white-space: pre-wrap;
            }
        }

        p {
            font-family: 'Archivo Black', sans-serif;
            font-size: 1.15rem;
            max-width: 80ch;
            font-weight: 400;
        }
    }

    .hero-image {
        grid-column: 1;
        grid-row: 2;
        max-height: 1080px;

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 770/1369;
            object-fit: contain;
            object-position: bottom;
            /* -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
            mask-image: linear-gradient(to bottom, black 70%, transparent 100%); */

        }
    }

    .cloud-holder {
        grid-row: 2;
        max-height: 480px;
        min-height: 35vh;
    }
}

@media (max-width: 1440px) {
    .hero {
        .hero-content {
            h1 {
                font-size: 7rem;
                line-height: 7rem;
            }

            p {
                font-size: 1.15rem;
            }
        }
    }
}

@media (max-width: 1024px) {
    .hero {
        .hero-content {
            h1 {
                font-size: 5rem;
                line-height: 5rem;

                img {
                    width: 12rem;
                    height: 12rem;
                }
            }

            p {
                font-size: 1.25rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .hero {
        .hero-content {
            h1 {
                font-size: 5rem;
                line-height: 5rem;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1rem;

                img {
                    width: 8rem;
                    height: 8rem;
                }
            }

            p {
                font-size: 1.15rem;
                padding-top: 1rem;
            }
        }
    }
}

@media (max-width: 585px) {
    .hero {
        .hero-content {
            justify-content: center;

            h1 {
                font-size: 4rem;
                line-height: 4rem;

                span {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .hero {
        .hero-content {
            h1 {
                font-size: 2.5rem;
                line-height: 2.5rem;
            }

            p {
                font-size: 0.85rem;
            }
        }
    }
}