:root {
  /* color palette */
  --gray: #1A1A1A;
  --white: #FFFFFF;
  --soft-pink: #FFBDFF;
  --soft-blue: #8EF6E4;
  --soft-yellow: #E4FF92;
  --soft-green: #95FF92;
  --soft-purple: #9896F1;
  --soft-red: #FF9595;
  --soft-orange: #FFC795;
  --soft-gray: #959595;

  --soft-pink-low-opacity: rgba(255, 189, 255, 0.6);
  --soft-blue-low-opacity: rgba(142, 246, 228, 0.6);
  --soft-yellow-low-opacity: rgba(228, 255, 146, 0.6);
  --soft-green-low-opacity: rgba(149, 255, 146, 0.6);
  --soft-purple-low-opacity: rgba(152, 150, 241, 0.6);
  --soft-red-low-opacity: rgba(255, 149, 149, 0.6);

  /* Variables */
  --main-background-color: var(--gray);
  --main-text-color: var(--white);
  --main-link-color: var(--soft-pink);
  --grid-item-background-color-hover: var(--gray);


  /* beziers */
  --spring-transition: cubic-bezier(0.34, 1.56, 0.64, 1);
  --color-transition: cubic-bezier(0.25, 1, 0.5, 1);
  --fade-transition: cubic-bezier(0.16, 1, 0.3, 1);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--main-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}